In [1]:
# IMPORTING LIBRARIES
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import nltk
import warnings
warnings.filterwarnings("ignore")

from matplotlib import image
from PIL import Image
import sklearn
from tqdm import tqdm
import time

In [2]:
# FROM THE RAW DATA ,EXTRACTING THE CLASSES OF NUMBERS AND APPENDING IN THERE SPECIFIED NUMBER SET(0-9)

In [3]:
# O IMAGES SET
zero_images=[]
for i in range(4132):
    img=image.imread(r"C:\Users\abhir\Downloads\mnist_data\0\img_{}.png".format(i))
    img_r=img[:,:,0].ravel()
    zero_images.append(img_r)

In [4]:
# CREATING A DATABASE WITH 0 SET IMAGES
df_0=pd.DataFrame(zero_images)

In [5]:
df_0['digit']=0

In [6]:
df_0.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,digit
0,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0
1,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0
2,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0
3,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0
4,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0

In [7]:
# 1 IMAGES SET

In [8]:
one_images=[]
for i in range(4684):
    img=image.imread(r"C:\Users\abhir\Downloads\mnist_data\1\img_{}.png".format(i))
    img_r=img[:,:,0].ravel()
    one_images.append(img_r)

In [9]:
# CREATING A DATABASE WITH 1 SET IMAGES
df_1=pd.DataFrame(one_images)

In [10]:
df_1['digit']=1

In [11]:
# 2 IMAGES SET

In [12]:
two_images=[]
for i in range(4177):
    img=image.imread(r"C:\Users\abhir\Downloads\mnist_data\2\img_{}.png".format(i))
    img_r=img[:,:,0].ravel()
    two_images.append(img_r)

In [13]:
# CREATING A DATABASE WITH 2 SET IMAGES
df_2=pd.DataFrame(two_images)

In [14]:
df_2['digit']=2

In [15]:
# 3 IMAGES SET

In [16]:
three_images=[]
for i in range(4351):
    img=image.imread(r"C:\Users\abhir\Downloads\mnist_data\3\img_{}.png".format(i))
    img_r=img[:,:,0].ravel()
    three_images.append(img_r)

In [17]:
# CREATING A DATABASE WITH 3 SET IMAGES
df_3=pd.DataFrame(three_images)

In [18]:
df_3['digit']=3

In [19]:
# 4 IMAGES SET

In [20]:
four_images=[]
for i in range(4072):
    img=image.imread(r"C:\Users\abhir\Downloads\mnist_data\4\img_{}.png".format(i))
    img_r=img[:,:,0].ravel()
    four_images.append(img_r)

In [21]:
# CREATING A DATABASE WITH 4 SET IMAGES
df_4=pd.DataFrame(four_images)

In [22]:
df_4['digit']=4

In [23]:
# 5 IMAGES SET

In [24]:
five_images=[]
for i in range(3795):
    img=image.imread(r"C:\Users\abhir\Downloads\mnist_data\5\img_{}.png".format(i))
    img_r=img[:,:,0].ravel()
    five_images.append(img_r)

In [25]:
# CREATING A DATABASE WITH 5 SET IMAGES
df_5=pd.DataFrame(five_images)

In [26]:
df_5['digit']=5

In [27]:
# 6 IMAGES SET

In [28]:
six_images=[]
for i in range(4137):
    img=image.imread(r"C:\Users\abhir\Downloads\mnist_data\6\img_{}.png".format(i))
    img_r=img[:,:,0].ravel()
    six_images.append(img_r)

In [29]:
# CREATING A DATABASE WITH 6 SET IMAGES
df_6=pd.DataFrame(six_images)

In [30]:
df_6['digit']=6

In [31]:
# 7 IMAGES SET

In [32]:
seven_images=[]
for i in range(4401):
    img=image.imread(r"C:\Users\abhir\Downloads\mnist_data\7\img_{}.png".format(i))
    img_r=img[:,:,0].ravel()
    seven_images.append(img_r)

In [33]:
# CREATING A DATABASE WITH 7 SET IMAGES
df_7=pd.DataFrame(seven_images)

In [34]:
df_7['digit']=7

In [35]:
# 8 IMAGES SET

In [36]:
eight_images=[]
for i in range(4063):
    img=image.imread(r"C:\Users\abhir\Downloads\mnist_data\8\img_{}.png".format(i))
    img_r=img[:,:,0].ravel()
    eight_images.append(img_r)

In [37]:
# CREATING A DATABASE WITH 8 SET IMAGES
df_8=pd.DataFrame(eight_images)

In [38]:
df_8['digit']=8

In [39]:
# 9 IMAGES SET

In [40]:
nine_images=[]
for i in range(4188):
    img=image.imread(r"C:\Users\abhir\Downloads\mnist_data\9\img_{}.png".format(i))
    img_r=img[:,:,0].ravel()
    nine_images.append(img_r)

In [41]:
# CREATING A DATABASE WITH 9 SET IMAGES
df_9=pd.DataFrame(nine_images)

In [42]:
df_9['digit']=9

In [43]:
# APPENDING ALL THE DATA FRAMES TO A SINGLE DATA FRAME.

In [44]:
df_list=[df_0,df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9]

In [45]:
df=pd.concat(df_list)

In [46]:
df

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,digit
0,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0
1,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0
2,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0
3,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0
4,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4183,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,9
4184,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,9
4185,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,9
4186,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,9
4187,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,9

In [47]:
# CONVEERTING TO CSV FILE
df.to_csv('image_data.csv')

In [48]:
pd.read_csv('image_data.csv')

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,775,776,777,778,779,780,781,782,783,digit
0,0,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0
1,1,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0
2,2,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0
3,3,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0
4,4,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41995,4183,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,9
41996,4184,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,9
41997,4185,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,9
41998,4186,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,9
41999,4187,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,9

In [49]:
# DROPPING A COLUMN UNNAMED 0
df=pd.read_csv('image_data.csv')
df=df.drop('Unnamed: 0',axis=1)

In [50]:
# CHECKING THE COLUMNS 
df.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '775', '776', '777', '778', '779', '780', '781', '782', '783', 'digit'],
      dtype='object', length=785)

In [51]:
# CRAETING X VARIABLES
x=df.iloc[:,:-1]

In [52]:
# CRAETING THE Y COLUMN
y=df.digit

In [53]:
y

0        0
1        0
2        0
3        0
4        0
        ..
41995    9
41996    9
41997    9
41998    9
41999    9
Name: digit, Length: 42000, dtype: int64

In [54]:
# SPLITTING THE DATA
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=103)

In [55]:
x_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
31527,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667
20560,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667
10661,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667
7903,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667
22992,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,...,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667,0.266667

In [56]:
# NOW APPLYING THE ALGORITHMS
# AND BY USING EVAL MATRIX FINDING THE SCORE TO FIND THE BEST MODEL.

## KNN

In [57]:
from sklearn.neighbors import KNeighborsClassifier

classifier = KNeighborsClassifier()

classifier.fit(x_train, y_train)

KNeighborsClassifier()

In [58]:
y_test_pred=classifier.predict(x_test)

In [59]:

from sklearn.metrics import accuracy_score

knn=accuracy_score(y_test,y_test_pred)
knn

0.8872380952380953

## LOGISTIC REGRESSION

In [60]:
# ** logistric regression**


from sklearn.linear_model import LogisticRegression
regressor=LogisticRegression()


regressor.fit(x_train, y_train)

LogisticRegression()

In [61]:
y_test_pred=regressor.predict(x_test)

In [62]:

from sklearn.metrics import accuracy_score

lr=accuracy_score(y_test,y_test_pred)
lr

0.8929523809523809

## DECISION TREE

In [63]:

from sklearn.tree import DecisionTreeClassifier


dclassifier = DecisionTreeClassifier()


dclassifier.fit(x_train, y_train)

DecisionTreeClassifier()

In [64]:
y_test_pred=dclassifier.predict(x_test)

In [65]:

from sklearn.metrics import accuracy_score

dt=accuracy_score(y_test,y_test_pred)
dt

0.7767619047619048

## RANDOM FOREST

In [66]:

from sklearn.ensemble import RandomForestClassifier

rclassifier = RandomForestClassifier()
rclassifier.fit(x_train, y_train)

RandomForestClassifier()

In [67]:
y_test_pred=rclassifier.predict(x_test)

In [68]:

from sklearn.metrics import accuracy_score

rf=accuracy_score(y_test,y_test_pred)
rf

0.9423809523809524

In [69]:
# SAVING THE MODEL TO CREATE AND RUN THE WEB APPLICATION WHICH PRIDICTS THE DIGIT
from pickle import dump
dump(rclassifier,open(r"C:\Users\abhir\machine learning\randomforest.pkl","wb"))